.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.field__label {
  font-size: 14px;
  color: #363636;
}
.field__input {
  border: 1px solid #888888;
  background-color: #888888;
  padding: 16px;
  border-radius: 10px;
  font-size: 14px;
  color: #121212;
  transition: border-color 0.3;
}
.field__input::-moz-placeholder {
  color: #f7f7f7;
}
.field__input::placeholder {
  color: #f7f7f7;
}
.field__input:hover {
  border-color: #363636;
}
.field__input:focus {
  border-color: #f46f17;
}

.field--checkbox .field__wrapper {
  border: 1px solid #888888;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  line-height: 1em;
  cursor: pointer;
  transition: border-color 0.3s;
}
.field--checkbox .field__wrapper:hover {
  border-color: #363636;
}
.field--checkbox .field__wrapper[active] .field__icon {
  background-image: url("/svg/check_enb.svg");
}
.field--checkbox .field__label--checkbox {
  font-size: 16px;
  color: #121212;
  padding-top: 3px;
}
.field--checkbox .field__icon {
  display: block;
  height: 14px;
  width: 14px;
  background-image: url("/svg/check_dis.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center center;
}
.field--checkbox .field__input--disabled {
  display: none;
}