@use '../../style' as s;

.field {
  display: flex;
  flex-direction: column;
  gap: s.space(2);

  &__label {
    font-size: 14px;
    color: s.color(gray);
  }
  &__input {
    border: 1px solid s.color(light);
    background-color: s.color(light);
    padding: s.space(4);
    border-radius: 10px;
    font-size: 14px;

    &::placeholder {
      color: s.color(box);
    }
    color: s.color(dark);
    transition: border-color 0.2s ease-in-out;
    &:hover {
      border-color: s.color(gray);
    }
    &:focus {
      border-color: s.color(main);
    }
    &--error {
      border-color: s.color(red) !important;
    }
  }
}
