.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.field__label {
  font-size: 14px;
  color: #363636;
}
.field__input {
  border: 1px solid #888888;
  background-color: #888888;
  padding: 16px;
  border-radius: 10px;
  font-size: 14px;
  color: #121212;
  transition: border-color 0.3;
}
.field__input::-moz-placeholder {
  color: #f7f7f7;
}
.field__input::placeholder {
  color: #f7f7f7;
}
.field__input:hover {
  border-color: #363636;
}
.field__input:focus {
  border-color: #f46f17;
}